.App-logo {
  height: 30px;
  pointer-events: none;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 30s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.header{
  height:auto;
  background:  linear-gradient(to right, #0f0c29, #302b63, #24243e);
  color:white;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  
}
.body {
  flex: 1;
  display:flex;
  justify-content: center;
  flex: 1 0 auto;
  flex-direction: row;
  background-color: #fffefe;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23ffa193' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23ffd1bf' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23ffa698' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%23ffd3b4' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23ffab9d' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%23ffd5a8' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%23ffb1a2' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%23ffd69c' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%23ffb6a7' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%23ffd890' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%23ffbbac' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23feda84' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}
.footer {
  height: auto;
  background: rgb(77, 76, 76);
  color: rgb(245, 245, 245);
  text-align: center;
  font-size: 13px;
  padding-bottom: 10px;
}

.left-menu {
  display: flex;
  flex-direction: column;
  background-color: rgba(216, 216, 216, 0.37);
  border-radius: 0px;
  color: white;
  margin:0px;
  padding:5px;
  width: auto;
  backdrop-filter: blur(3px);
  
}
.content {
  display: flex;
  max-width: 800px;
  flex-direction: column;
  backdrop-filter: blur(3px);
  border-radius: 0px;
  background-color: rgba(216, 216, 216, 0.37);
  color: rgb(32, 32, 32);
  margin:0px;
  padding:12px;
  width: 100%;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 14px;
  letter-spacing: 0.6px;
  word-spacing: 0.4px;
  font-weight: 400;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  user-select: none;
}
.menuContent{
  background-color:rgb(88, 166, 255);
  width: 200px;
  padding:5px;
  margin:5px;
  border-radius: 5px;
}

.logo{
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 3px;
}


.title {
  font-size: 20px;
  margin-left: 5px;
  position: relative;
  cursor: pointer;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 15px;
  letter-spacing: 2px;
  word-spacing: 2px;
  font-weight: 700;
  
}

.title.selected {
  font-size: 15px;
}

.sideline {
  width: 0; 
  height: 0; 
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 12px solid rgba(233,46,159,1);
  position: absolute;
  left: 0px;
  bottom:6px;
}

li {
  list-style: none;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 5px;
  user-select: none;
}

ol {
  justify-content: left;
}