.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.header{
  height:auto;
  background:  linear-gradient(to right, #0f0c29, #302b63, #24243e);
  color:white;
  padding-left: 10px;
}
.body {
  flex: 1;
  background: rgba(0, 0, 0, 0.87);
  display:flex;
  flex-direction: row;
}
.footer {
  height: auto;
  background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 13px;
  padding-bottom: 10px;
}

.left-menu {
  display: flex;
  flex-direction: column;
  background-color: rgba(16, 14, 143, 0.438);
  border-radius: 0px;
  color: white;
  margin:0px;
  padding:5px;
  width: auto;
}
.content {
  display: flex;
  flex-direction: column;
  border-radius: 0px;
  background-color: rgba(57, 103, 255, 0.295);
  color: white;
  margin:0px;
  padding:12px;
  width: 100%;
}
.menuContent{
  background-color:rgb(88, 166, 255);
  width: 200px;
  padding:5px;
  margin:5px;
  border-radius: 5px;
}

.logo{
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 3px;
}


.title {
  font-size: 20px;
  margin-left: 20px;
  position: relative;
  cursor: pointer;
}

.title.selected {
  font-size: 20px;
}

.underline {
  width: 100%;
  height: 3px;
  border-radius: 4px;
  background: rgba(251,158,49,1);
  position: absolute;
  bottom: -4px;
}

.overline {
  width: 100%;
  height: 3px;
  border-radius: 4px;
  background: rgba(233,46,159,1);
  position: absolute;
  bottom: 22px;
}

li {
  list-style: none;
  padding: 0;
  margin: 0px;
  user-select: none;
}

ol {
  display: flex;
  justify-content: left;
}