.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.header{
  height:auto;
  background:  linear-gradient(to right, #0f0c29, #302b63, #24243e);
  color:white;
  padding-left: 10px;
}
.body {
  flex: 1;
  display:flex;
  flex-direction: row;
}
.footer {
  height: auto;
  background: rgb(25, 22, 27);
  color: rgb(109, 109, 109);
  text-align: center;
  font-size: 13px;
  padding-bottom: 10px;
}

.left-menu {
  display: flex;
  flex-direction: column;
  background-color: rgb(31, 31, 43);;
  border-radius: 0px;
  color: white;
  margin:0px;
  padding:5px;
  width: auto;
}
.content {
  display: flex;
  flex-direction: column;
  border-radius: 0px;
  background-color: rgb(31, 31, 43);
  color: rgb(185, 185, 185);
  margin:0px;
  padding:12px;
  width: 100%;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 14px;
  letter-spacing: 0.6px;
  word-spacing: 0.4px;
  color: #b1b1b1;
  font-weight: 400;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
}
.menuContent{
  background-color:rgb(88, 166, 255);
  width: 200px;
  padding:5px;
  margin:5px;
  border-radius: 5px;
}

.logo{
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 3px;
}


.title {
  font-size: 20px;
  margin-left: 5px;
  position: relative;
  cursor: pointer;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 20px;
  letter-spacing: 1.4px;
  word-spacing: 0.4px;
  font-weight: 700;
  text-decoration: none;
  font-style: normal;
  font-variant: small-caps;
  text-transform: none;
  
}

.title.selected {
  font-size: 20px;
}

.sideline {
  width: 12px;
  height: 76%;
  background: rgba(233,46,159,1);
  position: absolute;
  left: 0px;
}

li {
  list-style: none;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 5px;
  user-select: none;
}

ol {
  justify-content: left;
}